name: Generate and submit dependency graph for libseqera
on:
  push:
    branches: ['master']

permissions:
  contents: write

jobs:
  dependency-submission:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        components: ["lib-crypto","lib-mail","lib-pool","lib-retry","lib-trace","wave-utils", "wave-api", "jedis-lock", "sched-api"]
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17

    - name: Generate and submit dependency graph for libseqera
      uses: gradle/actions/dependency-submission@v4
      with:
        dependency-resolution-task: ":${{ matrix.components }}:dependencies"
        additional-arguments: "--configuration runtimeClasspath"
        dependency-graph: generate-and-submit
